# Dependencies
node_modules/
vendor/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Firebase local files
.firebase/

# Firebase private keys
serviceAccountKey.json
firebase-adminsdk-*.json
/config/serviceAccountKey.json